* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 120px;
}

.landing-banner{
 background-image: url('./src/public/images/landing-banner-bg.webp');
 background-size: cover;
 background-color: center;
 width: 100%;
 padding-top: 38%;
}

.landing-banner div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 5%;
    margin-top: 2%;
}

.landing-banner div h2 {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-size: 40px;
    width: 50%;
    margin-bottom: 1%;
}

.landing-banner div p {
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 20px;
    width: 40%;
    margin-bottom: 1%;
}

.landing-banner div a {
    background-color: #EC7404;
    color: white;
    text-decoration: none;
    width: 110px;
    padding: 15px 25px;
    padding-left: 30px;
    font-family: 'SF Pro Display';
    font-weight: 700;
    border-radius: 40px;
}

.inversion-colaborativa {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5%;
    background: var(--Gradient, linear-gradient(99deg, #EC7404 5.95%, rgba(255, 152, 56, 0.85) 98.06%));
}

.inversion-colaborativa h2 {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-size: 40px;
    width: 50%;
    margin-bottom: 1%;
    margin-top: 5%;
    color: white;

}

.inversion-colaborativa p {
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 18px;
    width: 40%;
    margin-bottom: 1%;
    color: white;
}

.inversion-colaborativa a {
    background-color: white;
    color: #EC7404;
    text-decoration: none;
    width: 110px;
    padding: 15px 25px;
    padding-left: 30px;
    font-family: 'SF Pro Display';
    font-weight: 700;
    border-radius: 40px;
    margin-bottom: 5%;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../../fonts/SF-Pro-Display-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../../fonts/SF-Pro-Display-Semibold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../../fonts/SF-Pro-Display-Bold.ttf') format('truetype');
    font-weight: 700;
}