* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    margin-top: 120px;
}

.portafolio-inversiones {
    background-color: white;
    padding: 5% 12%;
}

.portafolio-inversiones h1 {
    font-family: 'SF Pro Display';
    font-weight: 700;
    color: #EC7404;
}
.tab-bar {
    background-color: white;
    margin-top: 2%;
    display: flex;
}

.tab-button {
    background-color: transparent;
    border: none;
    margin-right: 5%;
    display: flex;
    align-items: center;
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 16px;
    filter: saturate(0);
}

.port-img {
    margin-right: 5px;
}

.active {
    border: 2px solid #EC7404;
    filter: none;
    color: #EC7404;
    padding: 10px 15px;
    border-radius: 30px;
}

.content {
    background-color: white;
    padding: 5% 12%;
    padding-top: 0;
}

.tab-button ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.individual img {
    padding: 5%;
    border: 1px solid #EC7404;
    margin-bottom: 5%;
    border-radius: 20px;
    width: 90%;
}
.individual ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'SF Pro Display';
    border-left: 1px solid #EC7404;
    padding: 2% 5%;
}

.individual ul li p{
    margin-bottom: 10px;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../../src/fonts/SF-Pro-Display-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../../src/fonts/SF-Pro-Display-Semibold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../../src/fonts/SF-Pro-Display-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../../src/fonts/SF-Pro-Display-Heavy.ttf') format('truetype');
    font-weight: 800;
}